{
  "profiles": {
    "default": {
      "aws_profile": "${AWS_CLI_PROFILE_NAME}",
      "token": {
        "access_token": "${LWA_ACCESS_TOKEN}",
        "refresh_token": "${LWA_REFRESH_TOKEN}",
        "token_type": "bearer",
        "expires_in": 3600,
        "expires_at": "2018-03-19T00:00:00.000Z"
      },
      "vendor_id": "${ALEXA_VENDOR_ID}"
    }
  }
}
